body{
    margin: 0px;
    background: #010D23;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
}

p{
    color: #010D23;
}

a{
    text-decoration: none;
    color: inherit;
}

/* ---------- HEADER ---------- */

header{
    height: 60px;
    background: #010D23;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Que el header quede encima de todo */
}

.logo{
    padding: 15px;
    padding-left: 30px;
    width: 100px;
}

.logo:hover{
    padding: 15px;
    padding-left: 30px;
    content: url("imagenes/logoNatiAmarillo.png");
}

nav ul{
    float: right;
    padding: 10px;
    margin: 0px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 0px 10px 0px 10px;
    color:  #F2F3F5;
    text-decoration: none;
}

nav ul li a:hover{
    color: #FFA431;
}

/* Sticky al scrollear */
header.scrolled {
    background: #010D23;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* --- Menú desplegable --- */

@media screen and (max-width: 768px) {
    #nav-links {
        display: none; /* Oculto por defecto */
        position: absolute;
        top: 60px;
        right: 0;
        background: #010D23;
        flex-direction: column;
        text-align: right;
        width: 130px;
        padding: 10px 20px;
        gap: 2rem;
    }

    #nav-links.show {
        display: flex; /* Se muestra al hacer click */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    #nav-links li {
        display: block;
    }

    #menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 30px;
    }

    #menu-toggle span {
        width: 25px;
        height: 3px;
        background: #F2F3F5;
        margin: 4px 0;
        transition: 0.3s;
    }
    
    #menu-toggle span:hover {
        background: #FFA431;
    }
}


/* ---------- INICIAL ---------- */

strong{
	color: #FFA431;
}

.inicial{
    width: 100%;
    padding-top: 60px; /* igual al alto del header, para que no tape */
}

.inicial .col-md-6{
    text-align: left;
}

.inicial h1:nth-child(1){
    margin-top: 5vh;
}

.inicial h1{
    color: #F2F3F5;
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 50px;
}

.inicial h2{
    color: #F2F3F5;
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
}

.inicial .btn{
    background: #FFA431;
    margin-left: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px; /* espacio entre botón e íconos */
    flex-wrap: wrap; /* permite que se apilen en mobile */
}

.inicial .btn:hover{
    background: #FF4B3A;
    color: #F2F3F5;
    margin-left: 20px;
    font-weight: 600;
}

.boton-redes {
    display: flex;
    align-items: center;
    gap: 20px; /* espacio entre botón y cada ícono */
    flex-wrap: wrap; /* permite que se apilen en mobile */
}

.iconoInicioGitHub,
.iconoInicioLinkedIn {
    width: 35px;
    height: auto;
    transition: transform 0.3s ease;
}

.iconoInicioGitHub:hover{
    content: url("imagenes/logoGitHubRojo.png");
}

.iconoInicioLinkedIn:hover{
    content: url("imagenes/logoLinkedInRojo.png");
}

.imagenInicial{
    max-width: 80%;   /* se ajusta al contenedor en % */
    min-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;  
    padding: 30px 0;
}


/* ---------- SOBRE MI ---------- */

.sobreMi{
    background: #F2F3F5;
    width: 100%;
}

.fotoSobreMi{
    min-width: 200px;
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sobreMi h2{
    padding: 60px 0px 20px 30px;
    color: #FF4B3A;
    display: inline-block;
    font-size: 30px;
}

.sobreMi p{
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    text-align: justify;
}

.tecnologias{
    padding: 0px 0px 0px 30px;
    font-size: 20px;
    display: inline-block;
}

.contenedorTecnologias{
    margin-bottom: 30px;
}


/* ---------- MIS PROYECTOS ---------- */

.centrado{
    text-align: center;
}

.espacios{
    padding: 5px;
}

.card{
    border-radius: 10px;
    overflow: hidden; /* importante si la card tiene imágenes dentro */
    padding: 15px;
    margin: 10px;
}

.card:hover{
    transform: scale(1.03); /* aumenta el tamaó un 5% */
}

.pic{
    padding-top: 5px;
    width: 250px;
    display: block;
    margin: 0 auto;  /* centra horizontalmente */
}

.img-fluid{
    border-radius: 10px;
}

.misProyectos h2{
    color: #F2F3F5;
    font-size: 30px;
    padding-top: 60px;
}

.misProyectos h3{
    color: #FFA431;
    font-size: 28px;
    text-align: center;
    padding-top: 5px;
}

.misProyectos h4{
    font-size: 20px;
    display: flex;
    justify-content: center; /* horizontal */
}

.misProyectos p{
    font-size: 18px;
    line-height: 1.1;
    padding: 10px 25px 0px 25px;
    margin: 0px;
    text-align: justify;
}

.card .btn{
    display: block;
    color: #FF4B3A;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

.card .btn:hover{
    color: #FFA431;
}

.iconoProyectosGitHub{
    width: 25px;
    height: auto;
    transition: transform 0.3s ease; 
}

.iconoProyectosGitHub:hover{
    content: url("imagenes/logoGitHubAmarillo.png");
}



/* ---------- CONTACTO ---------- */

.contacto{
    background: #F2F3F5;
    max-height: 90%;
    min-width: 300px;
}

.contacto h2{
    font-size: 22px;
    margin-bottom: 15px;
}

.contacto .btn{
    font-size: 18px;
    font-weight: 500;
}

.contacto .btn:hover{
    color: #FF4B3A;
}

.iconoContactoGitHub,
.iconoContactoLinkedIn,
.iconoContactoMail {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    margin: 70px 10px 30px 10px;
}

.iconoContactoMail:hover{
    content: url("imagenes/iconoMailRojo.png");
}

.iconoContactoGitHub:hover{
    content: url("imagenes/logoGitHubRojo.png");
}

.iconoContactoLinkedIn:hover{
    content: url("imagenes/logoLinkedInRojo.png");
}

#formMsj{
    color: #010D23;
}


/* ---------- FOOTER ---------- */

footer p{
    text-align: center;
    color: #F2F3F5;
    padding: 20px 0px 0px 0px;
    font-size: 10px;
}